<div class="shadow-sm bg-white rounded">
  <ng-container *ngIf="dataLoaded() else loadingSpinner">
    <div class="card-header d-flex justify-content-between">
      <div>
        <h1>Create new task</h1>
        <span>Fill up fields below to add new task to your board</span>
      </div>
      <div>
        <button [routerLink]="'../'" class="btn btn-secondary">Back</button>
      </div>
    </div>
    <div class="p-3">
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="name" placeholder="Title of the new task"/>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea [(ngModel)]="description" class="form-control" id="description" rows="4" placeholder="Description of the new task"></textarea>
      </div>
      <label for="subTasks">Subtasks:</label>
      <app-subtasks-list [subTasks]="subTasks" id="subTasks"></app-subtasks-list>

      <div class="form-group">
        <label for="priority">Priority:</label>
        <select id="priority" class="form-control" [(ngModel)]="priority">
          <ng-container *ngFor="let priority of taskPriorities">
            <option [value]="priority.id">{{priority.name | transformPriorityName}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <select id="state" class="form-control" [(ngModel)]="state">
          <ng-container *ngFor="let state of taskStates">
            <option [value]="state.id">{{state.name | transformTaskStateName}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="user">Assigned User:</label>
        <select id="user" class="form-control" [(ngModel)]="assignedUser">
          <option value="null">None</option>
          <ng-container *ngFor="let user of boardUsers">
            <option [value]="user.id">{{user.name}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="pl-3 pr-3 pb-3">
      <button (click)="createTask()" class="btn btn-primary">Create</button>
    </div>
  </ng-container>
  <ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>


