<table class="table">
  <thead>
  <tr>
    <th scope="col">Status</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let subTask of subTasks">
    <tr>
      <td class="d-flex align-items-center justify-content-center" height="62.8px"><input type="checkbox" [(ngModel)]="subTask.done" class="w-50 h-50"></td>
      <td><input id="name" type="text" class="form-control" [(ngModel)]="subTask.name" placeholder="Subtask's name"/></td>
      <td><textarea id="description" class="form-control" [(ngModel)]="subTask.description" rows="1" placeholder="Subtask's description"></textarea></td>
      <td><button class="btn btn-danger" (click)="remove(subTask)">Delete</button></td>
    </tr>
  </ng-container>
  </tbody>
</table>

<button class="btn btn-primary mb-2" (click)="add()">New Subtask</button>
