<ng-container *ngFor="let comment of comments">
  <div class="alert alert-primary d-flex flex-row align-items-center" role="alert">
    <div class="d-flex flex-row align-items-center">
      <ngx-avatar class="my-avatar pr-1" value="{{comment.authorName| firstLetter}}"></ngx-avatar>
      <strong>{{comment.authorName}}:&nbsp;</strong>
    </div>
    <div>
      {{comment.content}}
    </div>
  </div>
</ng-container>
<div class="form-group">
  <label for="newComment">New comment:</label>
  <textarea [(ngModel)]="newComment" class="form-control" id="newComment" rows="4" placeholder="Add new comment"></textarea>
</div>
<button (click)="addNewComment()" class="float-right btn btn-outline-primary">Add comment</button>
