<div class="bg-white shadow-sm p-3 mb-2 bg-white rounded">
  <header class="d-flex flex-row justify-content-between">
    <h4>{{task.name}}</h4>
    <button class="btn btn-light" routerLink="{{task.id}}"><fa-icon [icon]="faEdit"></fa-icon></button>
  </header>
  <main class="pb-3">
  <span>{{task.description}}</span>
  </main>
  <footer class="d-flex justify-content-between align-items-center border-top border-{{getColor()}} pt-3">
    <span class="badge badge-{{getColor()}}">Priority: {{task.priority.name | transformPriorityName}}</span>
    <div class="d-flex justify-content-center align-items-center">
      <ngx-avatar class="my-avatar pr-1" value="{{task.assignedUser.name | firstLetter}}"></ngx-avatar>
      {{task.assignedUser.name}}
    </div>
  </footer>
</div>
